.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footer-grid {
    display: grid;
    grid-template-columns: auto;
    gap: 30px;
    text-align: center;
    color: white;
}
.overlay {
    position: absolute;
    right: 10%;

}