.header { /* ja dei padding margin mas continua a desaparecer os icons, ja experimentei um container? */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    transition: 250ms;
    width: 100%;
    margin: 20px;
}

.header--min {
    padding: 0;
}

.logo {
    width: 120px;
    height: 120px;
}